[submodule "webSci_lab1"]
	path = webSci_lab1
	url = git@github.com:jzone1366/webSci_lab1.git
[submodule "webSci_lab2"]
	path = webSci_lab2
	url = git@github.com:jzone1366/webSci_lab2.git
[submodule "StacheIt"]
	path = StacheIt
	url = git@github.com:Diogenesthecynic/StacheIt.git
[submodule "webSci_lab4"]
	path = webSci_lab4
	url = git@github.com:jzone1366/webSci_lab4.git
[submodule "webSci_lab5"]
	path = webSci_lab5
	url = git@github.com:jzone1366/webSci_lab5.git
[submodule "webSci_lab6"]
	path = webSci_lab6
	url = git@github.com:jzone1366/webSci_lab6.git
[submodule "webSci_lab7"]
	path = webSci_lab7
	url = git@github.com:jzone1366/webSci_lab7.git
[submodule "webSci_lab10"]
	path = webSci_lab10
	url = git@github.com:jzone1366/webSci_lab10.git
